.popup__button {
  width: 83.26%;
  height: 50.15px;
  background-color: #000000;
  border-radius: 2px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 0;
  margin: 29.74px 0 36.51px 0;
  cursor: pointer;
  transition: linear 0.5s;
}
.popup__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.popup__button:disabled {
  color: #000000;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.2;
}
