.profile__name {
  max-width: 295px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  color: #ffffff;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 425px) {
  .profile__name {
    max-width: 201px;
    font-size: 27px;
    line-height: 2.074;
  }
}
