.profile__about {
  max-width: 318px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 812px) {
  .profile__about {
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .profile__about {
    max-width: 280px;
    font-size: 14px;
    line-height: 1.214;
  }
}
