@import url(./__overlay/profile__overlay.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__about/profile__about.css);
@import url(./__button/profile__button.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__text/profile__text.css);
@import url(./__topline/profile__topline.css);

.profile {
  max-width: 882px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 47.25px auto;
}
@media screen and (max-width: 898px) {
  .profile {
    margin: 0px 75px 47.25px 75px;
  }
}
@media screen and (max-width: 812px) {
  .profile {
    max-width: 282px;
    margin: 0 auto 36px auto;
    flex-direction: column;
  }
}
