.footer {
  max-width: 882px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
  padding-bottom: 60px;
}
@media screen and (max-width: 898px) {
  .footer {
    margin-left: 75px;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    font-size: 14px;
    line-height: 1.214;
    margin-left: 19px;
    padding-bottom: 36px;
  }
}
