@import url(./__title/element__title.css);
@import url(./__image/element__image.css);
@import url(./__like/element__like.css);
@import url(./__like/_active/element__like_active.css);
@import url(./__group/element__group.css);
@import url(./__basket/element__backet.css);
@import url(./__basket/_active/element__basket_active.css);
@import url(./__likebox/element__likebox.css);
@import url(./__like-number/element__like-number.css);
.element {
  width: 282px;
  background-color: #ffffff;
  border-radius: 3%;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
}
