@import url(./__logo-img/header__logo-img.css);
@import url(./__logo-link/header__logo-link.css);
.header {
  max-width: 882px;
  padding-top: 45px;
  padding-bottom: 40.6px;
  display: flex;
  margin: 0 auto 40px auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 898px) {
  .header {
    margin: 45px 75px 40px 75px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 28px;
    max-width: 324px;
    padding-bottom: 31.6px;
    margin: 0 auto 38.25px auto;
  }
}
